* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #e2e8f0;
}

/* Sidebar styling  */

.sidebar {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  background-color: #0ea5e9;
  width: 18vw;
  height: 100vh;
  padding: 1% 0 0 2%;
}

.logo {
  font-size: 25px;
  padding-left: 8px;
}

.logo-icon {
  position: relative;
  top: 13px;
}

.dashboard-link {
  padding-left: 12px;
}

.icon {
  position: relative;
  top: 4px;
}

.sidebar > a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

/* Header styling  */

.main-header-container {
  background-color: white;
  width: 80vw;
  height: 20vh;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, .5);
}

.ls-header-container {
  width: 60%;
  height: 20vh;
}

.search-bar {
  background-color: #e2e8f0;
  border: none;
  border-radius: 50px;
  width: 550px;
  height: 30px;
}

.search-bar-icon {
  position: relative;
  top: 8px;
  margin: 25px 0 0 70px;
}

.greeting-img {
  border-radius: 50px;
  float: left;
  margin: 15px 0 0 70px;
}

.greeting-text {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  margin: 25px 0 0 15px;
}

.greeting-title {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin: 0 0 0 15px;
}

.rs-header-container {
  font-family: 'Roboto', sans-serif;
  width: 40%;
  height: 20vh;
  position: absolute;
  top: 0;
  right: 0;
}

.small-profile-container {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 50%;
}

.small-profile-img {
  border-radius: 50px;
}

.header-button-container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 50%;
}

.header-button-container > button {
  display: inline-block;
  width: 75px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #0ea5e9;
  color: white;
}

button:hover {
  background-color: #0ea4e995;
  transition-delay: 10ms;
  cursor: pointer;
}



/* Main content styling  */

